@import url("../../logo-style.css");
@import url("../../partials/menu/mobile_menu-styles.css");
@import url("../../animations/user/user_homePage-anim.css");

header {
   position: sticky;
   position: -webkit-sticky;
   top: 0;

   width: 100%;
   background: var(--neutral-100);
   padding: 1rem;
   z-index: 2;
}

header .header_head-wrapper {
   display: flex;
   align-items: center;
   gap: 0 .5em;
}

h2[id$='-title'] {
   text-align: center;
   margin-block: 1rem;
}

figure > img {
   object-fit: cover;
}

main > section:first-of-type {
   width: calc(100% - 2rem);
   margin: auto;
}

main > section:last-of-type {
   margin-bottom: 1rem;
}

.carousel-container {
   overflow: hidden;
}

.suggestions-container {
   position: relative;
   display: flex;
   width: 100%;
   animation: carousel 60s linear infinite;
}

.suggestion {
   position: relative;
   min-width: fit-content;
   border-radius: 10px;
   overflow: hidden;

   & figure {
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;
   }  

   & .banner_content-container {
      position: absolute;
      bottom: 0;

      display: flex;
      flex-direction: column;
      gap: .5em 0;

      width: 100%;
      padding: 1rem;

      background: var(--transparent-600);
      backdrop-filter: blur(2px);
      color: var(--neutral-100);

      & .suggestion-description {
         font-family: var(--ff-300);
      }
   }
}

.displayers-container {
   display: flex;
   justify-content: center;
   gap: 0 .25em;
   margin-top: .5rem;

   & .displayer {
      --colour: pink;
      display: block;
      width: 1rem;
      aspect-ratio: 1;
      border: 4px solid var(--colour);
      border-radius: 50%;

      --delay: 0s;
      animation: 60s linear var(--delay) infinite handleCurrent;
   
      &.d-1 {
         --delay: 0s;
      }
      &.d-2 {
         --delay: 9.96s;
      }
      &.d-3 {
         --delay: 19.92s;
      }
      &.d-4 {
         --delay: 29.88s;
      }
      &.d-5 {
         --delay: 39.84s;
      }
      &.d-6 {
         --delay: 49.8s;
      }
   }
}

.recipes-container {
   display: flex;
   gap: 0 .5rem;
   padding-left: 1rem;
   padding-bottom: .5rem;

   height: fit-content;
   overflow: scroll hidden;

   &::-webkit-scrollbar {
      height: 5px;
   }
}

.recipes-container .recipe {
   padding: 1rem;
   border-radius: 10px;
   background: var(--neutral-200); 
   aspect-ratio: 16/15;

   & > a {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100%;
   }

   & figure {
      width: 15rem;
      max-height: 10rem;
      border-radius: 8px;
      overflow: hidden;
      margin: 0; 
   } 

   & .recipe-details {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      & p {
         display: block;
         width: 15rem;
         text-wrap: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;

         color: var(--neutral-700); 
      }
   }
}