header {
   margin: .5rem;
}

header nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-controller h2 {
   display: none;
}

#mobile_menu--handler {
   width: 2.5rem;
   aspect-ratio: 1;
   padding: 1rem;
   border-radius: 10px;

   background: url("../../../../assets/icons/hamburger-menu.svg") no-repeat center center;
   background-size: 70%;
   background-color: var(--primary-700);
}

.btn-back {
   width: 2.5rem;
   aspect-ratio: 1;
   border-radius: 10px;

   background: url("../../../../assets/icons/page_exit.svg") center center;
   background-color: var(--primary-700);
}

ul {
   display: flex;
   flex-direction: column;
}

ul[aria-expanded="false"] {
   & li {
      font-size: var(--fs-200);
   }
   
   & li[data-current="false"] {
      display: none;
   }
}

.search_navigation--wrapper {
   --element-padding: 7px;
   --radius: 5px;

   display: flex;
   align-items: center;
   gap: 0 .5rem;

   padding: 1rem 0 1rem .5rem;

   & div {
      position: relative;
      
      padding: .5rem;
      background: var(--primary-700);
      border-radius: calc(var(--radius) * 2);
   }
}

.search_navigation--wrapper :first-child span {
   position: absolute;
   top: 0;
   left: .7rem;

   height: 1.5rem;
   aspect-ratio: 1;

   background: url("../../../../assets/icons/search.svg") no-repeat center center;
   transform: translate(0, 50%);

   cursor: pointer;
}

input {
   padding: var(--element-padding);
   padding-left: 2rem;

   border: 1px solid var(--neutral-600);
   border-radius: var(--radius);
}

select {
   padding: var(--element-padding);
   border-radius: var(--radius);
}

main {
   --radius: 30px;
   
   min-height: 75.6vh;
   padding-block: 1rem;
   background: var(--primary-700);
   border-radius: var(--radius) var(--radius) 0 0;
}

.result {
   position: relative;

   display: flex;
   align-items: center;
   gap: 0 .5rem;

   padding: 1rem;

   & .result-category {
      display: none;
   }
}

.result + .result::before {
   content: "";
   position: absolute;
   top: 0;

   width: 90%;
   height: 3px;
   border-radius: 25vw;
   background: var(--primary-500);
}

.result h2 {
   font-size: var(--fs-100);
   color: #fff;

   max-width: 22ch;
   text-wrap: nowrap;
   text-overflow: ellipsis;

   overflow: hidden;
}

.result figure {
   max-width: 4rem;
   aspect-ratio: 1;
   border-radius: 10px;
   overflow: hidden;

   margin: 0;

   & img {
      object-fit: cover;
   }
}

.result_handler {
   position: absolute;
   right: .5rem;

   width: 2rem;
   aspect-ratio: 1;

   background: url("../../../../assets/icons/details.svg") no-repeat center center;
   background-size: contain;
}

@media screen and (min-width: 1440px) {
   body {
      display: flex;
      justify-content: center;

      gap: 0 3rem;
   }

   .header-controller h2 {
      display: block;
   
      & .username {
         color: var(--neutral-100);
      }
   }

   header {
      width: 10rem;
      height: 100vh;
      margin: 0;

      background: var(--primary-700);
   }

   header nav {
      position: relative;

      flex-direction: column;
      align-items: center;
      justify-content: center;

      height: 100%;
   }

   header nav ul {
      gap: .5rem;
   
      & li[data-current="false"] {
         color: var(--neutral-100);
      }
   }

   .header-controller {
      position: absolute;
      top: 1rem;
      left: 50%;

      width: 100%;
      padding-inline: 1rem;

      transform: translate(-50%, 0);
   }

   #mobile_menu--handler {
      display: none;
   }

   header + section {
      width: 70%;
   } 

   main {
      min-height: 88.8vh;
   }
}