body {
   --page-margin: 1rem;
   --fs-100: 16px;

   font-size: var(--fs-100);
   padding: var(--page-margin);
}

header {
   display: flex;
   gap: 1rem;
}

.greetings-wrapper h1 {
   font-size: var(--fs-200);
}

.greetings-wrapper span {
   color: var(--neutral-100);
   font-size: var(--fs-300);
}

.greetings-wrapper button {
   width: 1.5rem;
   margin-right: .5rem;

   background: url("../../../../assets/icons/hamburger-menu.svg") no-repeat center center;
   background-size: contain;

}

header > div {
   display: flex;

   padding: .5rem 1rem;
   border-radius: 25vw;

   background-color: var(--primary-700);
}

header [aria-hidden="true"] {
   display: none;
}

main {
   margin-top: 2rem;
}

.recipes_overview--wrapper [class$="--wrapper"],
.other_options-wrapper [class$="-widget"] {
   position: relative;
   display: flex;
   align-items: center;

   background: var(--primary-700);
   border-radius: 20px;

   padding: 1rem;
   padding-right: 3rem;

   margin-block: .7rem;

   color: var(--neutral-100);
}

.options-handler {
   --icon-variant: url("../../../../assets/icons/details.svg");
}

.options-handler {
   position: absolute;
   right: 1rem;

   width: 1.5rem;
   aspect-ratio: 1;

   background: var(--icon-variant) no-repeat center center;
   background-size: contain;  
}

.recipes--wrapper {
   justify-content: space-between;

   & .recipes_amount-display {
      font-size: var(--fs-300);
   }
}

.recipes_overview--wrapper .popular_category--wrapper,
.recipes_overview--wrapper .most_recent_recipe--wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-right: 1rem;

   & > p {
      align-self: flex-end;
      text-decoration: underline;
      font-size: calc(var(--fs-100) + 3px);
   }
}

.popular_category--wrapper div {
   display: flex;
   flex-direction: column;
   align-items: center;

   & p {
      font-size: calc(var(--fs-300) + 10px);
   }
}

.most_recent_recipe--wrapper h2,
.popular_category--wrapper h2 {
   position: absolute;
   top: 1rem;

   font-size: calc(var(--fs-200) - 6px);
}

.recipes_overview--wrapper .most_recent_recipe--wrapper {
   padding: 1rem;

   & h2 {
      max-width: 50%;
   }
}

.most_recent_recipe--wrapper figure {
   width: 4rem;
   aspect-ratio: 10/15;

   margin: 0;
   border-radius: 10px;
   overflow: hidden;

   & img {
      object-fit: cover;
   }
}

.categories--wrapper {
   margin-block: 2rem;
}

.categories--label {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.categories-container {
   --flex-dir: column;

   display: flex;
   flex-direction: var(--flex-dir);
   gap: .5rem;

   margin-top: .5rem;
   padding: 1rem;
   border-radius: 10px;
   background: var(--neutral-200);
}

.category {
   --flex-dir: row;

   display: inherit;
   flex-direction: var(--flex-dir);
   justify-content: space-between;
   align-items: center;

   & .bar {
      position: relative;
      --bar-max-size: 8rem;

      width: calc(var(--bar-max-size) * var(--bar-size));
      height: 1.6rem;
      border-radius: 5px;
      background: var(--primary-500);
   }

   & .bar:hover::after {
      content: attr(data-recipes-amount);
      position: absolute;
      top: 50%;
      right: -2.7rem;

      padding: 2px 5px;
      border: 3px dashed var(--primary-700);
      border-radius: 5px;

      color: var(--primary-700);
      font-size: (var(--fs-100));

      transform: translateY(-50%);
   }
}

.category .bigger {
   background: var(--primary-700);
}

.other_options-wrapper [class$="-widget"] {
   justify-content: space-between;

   & p {
      font-size: var(--fs-300);
   }
}

.suggestions_container {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;

   gap: 0 1rem;
   margin-block: 1.5rem;

   & > * {
      width: 50%;
   } 
   
   & span {
      order: 2;
      font-size: var(--fs-300);
      color: var(--primary-700);
   }
}

.suggestions--wrapper {
   position: relative;
   order: 1;
   aspect-ratio: 1;

   border: 7px dashed var(--primary-700);
   border-radius: 20px;
   overflow: hidden;

   & .suggestion {
      width: 100%;
      aspect-ratio: 1;
      background: var(--thumb) no-repeat center center;
      background-size: cover;
   }

   & [aria-current="false"] {
      display: none;
   }
}

.suggestions--wrapper:hover .btn-handler {
   visibility: visible;
}

.btn-handler {
   position: absolute;
   top: 0;
   width: 1.5rem;
   height: 100%;

   font-size: 20px;
   visibility: hidden;

   color: #000;
   background: hsl(210 33% 95% / .5);
}

.btn-next {
   right: 0;
}

.btn-prev {
   left: 0;
}

@media screen and (min-width: 720px) {
   .greetings-wrapper button {
      display: none;
   }
}