@import url("../../partials/credentials/credentials-input-styles.css");
@import url("../../animations/credentials/credentials-animations.min.css");

::-webkit-scrollbar {
   display: none;
}

body {
   background: var(--neutral-500);
   overflow: hidden;
}

main {
   --max: 375px;
   --dir: column;
   position: fixed;
   inset: 0;

   display: flex;
   flex-direction: var(--dir);
   justify-content: space-between;
   width: clamp(100px, 100%, var(--max));
   height: 100vh;
   margin: auto;

   background: var(--transparent-100);
   backdrop-filter: blur(2px);
   overflow: hidden;
   z-index: 10;
}

.status_msg-container[aria-hidden="true"] {
   display: none;
}

.status_msg-container[aria-hidden="false"] {
   position: absolute;
   top: 85vh;
   left: 50%;

   display: block;
   padding: .5rem 1rem;

   background: var(--colour_status);
   border: 2px solid var(--border_colour_status);
   border-radius: 5px;

   text-align: center;
   z-index: 2;

   transform: translate(-50%, 0);
   animation: disappear 4s ease-in-out forwards;

   &.error {
      --border_colour_status: hsl(0 100% 63%);
      --colour_status: hsl(0 100% 75%);
   }

   &.success {
      --border_colour_status: hsl(150 90% 45%);
      --colour_status: hsl(150 90% 60%);
   }
}

canvas {
   position: relative;
   z-index: -1;
}

[cur-state="false"] {
   display: none;
}

.icon--wrapper {
   --size: 35%;

   display: grid;
   place-items: center;
   width: clamp(150px, var(--size), 100%);
   margin: 1rem 0;
}

main > section {
   width: 100%;
   height: 50%;
   font-family: var(--ff-100);
}

.advice-wrapper,
button {
   color: var(--neutral-100);
}

form,
.advice-wrapper section[cur-state="true"] {
   height: 100%;
}

.advice-wrapper [cur-state="true"] {
   width: 100%;
   height: 100%;
}

.advice-wrapper {
   --cur-anim: var(--mobile-anim);
   position: fixed;
   background: var(--primary-600);
   animation: var(--cur-anim) .5s ease-in-out forwards;
}

main #signup form,
main #signin form {
   --display-method: flex;
   flex-direction: column;
   justify-content: center;
   padding-inline: 2rem;
}

form > :not(.form-group) {
   align-self: center;
   margin-block: .5rem;
}

.form .form_submit {
   background: var(--primary-700);
   padding: .7rem 1.2rem;
   border-radius: 5px;
   color: var(--neutral-100);

   transition: all .3s;

   outline: #0000;
}

/* .form:invalid .form_submit {
   opacity: .7;
   pointer-events: none;

   background: var(--neutral-700);
} */

.advice-wrapper[data-state="signup"] {
   --mobile-anim: credentialsStateRollDown;
} 

.advice-wrapper[data-state="login"] {
   --mobile-anim: credentialsStateRollUp;
}

.advice-wrapper [cur-state="true"] {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 1rem 0;
}

.advice-wrapper [cur-state="true"] h3 {
   margin-top: .5rem;
}

#signin form,
#signup form {
   animation: hideForm .1ms ease-in-out forwards;
}

main:has(.advice-wrapper[data-state="login"]) #signin form,
main:has(.advice-wrapper[data-state="signup"]) #signup form {
   animation: showForm .2s ease-in-out forwards;   
}

.panel--handler {
   transition: all .2s;
}

.panel--handler:hover {
   color: var(--primary-100);
}

@media screen and (width >= 720px) {
   .advice-wrapper {
      --cur-anim: var(--desktop-anim);
   }

   .advice-wrapper[data-state="signup"] {
      --desktop-anim: credentialsSlideRight;
   } 
   
   .advice-wrapper[data-state="login"] {
      --desktop-anim: credentialsSlideLeft;
   }

   main {
      --max: 60%;
      --dir: row;
      height: calc(100% - 10rem);
      align-items: center;
      border-radius: 10px;
   }

   .status_msg-container[aria-hidden="false"] {
      top: .5rem;
   }

   main section {
      width: 50%;
      height: 100%;
   }

   .advice-wrapper [cur-state="true"] {
      justify-content: center;
   }

   .icon--wrapper {
      transform: scale(1.2);
      margin-block: 2.5rem;
   }
}