@import url("../../partials/misc/step-styles.css");
@import url("../../partials/misc/dialog-styles.css");
@import url("../../partials/misc/addRecipes/suggestions_list-styles.css");
@import url("../../partials/misc/addRecipes/custom_select-styles.css");
@import url("../../partials/misc/addRecipes/ingredient_details-styles.css");
@import url("../../animations/misc/addRecipe_anim-styles.css");
@import url("../../animations/admin_homePage/admin_homePage-animations.css");

body {
   --bg-color: hsl(273, 26%, 93%);
   background: var(--bg-color);
}

.steps_descriptions {
   display: flex;
   justify-content: center;
   gap: 0 .5rem;

   & li {
      pointer-events: none;
      cursor: initial;
   }
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 0 1rem;

   padding-inline: 1rem;
}

.header_head {
   display: inherit;
   align-items: center;
}


.header_head #mobile_menu--handler {
   width: 2rem;
   aspect-ratio: 1;
   background: url("../../../../assets/icons/hamburger-menu.svg") no-repeat center center;
   background-color: var(--primary-600);
   background-size: 70%;
   border-radius: 50%;
}

h1 {
   font-size: 1.1rem;
}

header > .steps_descriptions .step_description--wrapper {
   display: none;
}

.step-icon {
   display: grid;
   place-items: center;

   width: 2rem;
   aspect-ratio: 1;
   
   border-radius: 50%;
   border: 3px solid var(--primary-700);

   background: #0000;
   color: var(--primary-700);
   font-style: normal;
}

.steps_descriptions li[data-current="true"] .step-icon,
.mobile-menu .step_display[data-current="true"] {
   background: var(--primary-700);
   color: var(--neutral-100);
}
.mobile-menu[aria-expanded="false"] {
   display: none;
}

.mobile-menu[aria-expanded="true"] {
   --origin-width: 60%;
   
   position: fixed;
   inset: 0;
   display: flex;
   align-items: center;
   left: calc(var(--origin-width) * -1);

   width: var(--origin-width);
   height: 100%;
   background: var(--primary-700);
   z-index: 200;
   animation: openMenu .2s ease-in-out forwards;
} 

.mobile-menu .menu-controller {
   position: absolute;
   top: 1rem;
   display: flex;
   justify-content: space-between;

   width: 100%;
   height: fit-content;

   padding-inline: 1rem;
}

.menu-controller button {
   width: 2.5rem;
   aspect-ratio: 1;
   background: var(--icon) no-repeat center center;
}

#btn_exit {
   --icon: url("../../../../assets/icons/page_exit.svg");
}

#btn_close {
   --icon: url("../../../../assets/icons/close.svg");
   background-size: 65%;
}

.mobile-menu[aria-expanded="true"] ul {
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   margin-inline-start: 1rem;
}

.mobile-menu .step-icon {
   border: 3px solid currentColor;

   background: #0000;
   color: #000;
}

header:has(.mobile-menu[aria-expanded="false"]) .backdrop {
   display: none;
}

.backdrop {
   display: block;
   position: fixed;
   inset: 0;
   margin: auto;
   background: var(--transparent-400);
   backdrop-filter: blur(2px);
   z-index: 100;
}

form > section {
   display: grid;
   padding: 1rem;
   margin-inline: 1rem;

   border-radius: 10px;
   background: var(--neutral-100);
   box-shadow: 7px 6px 6px hsl(0 0% 0% / .1);
}

.input-group {
   max-width: 100%;
   width: auto;
   display: flex;
   flex-direction: column;
   gap: 10px 0;
}

.input-group + .input-group {
   margin-top: 1rem;
}

.input-group input,
.input-group textarea,
select,
dialog input,
dialog textarea {
   --input-color: var(--bg-color);
   border: 3px solid hsl(273, 26%, 93%);
   border-radius: 5px;
   box-shadow: 2px 2px 3px hsl(273 26% 85% / .5),
   -2px -2px 5px hsl(273 26% 94% / .5);
   outline-color: hsl(273, 26%, 87%);
   padding: .5rem;

   background: var(--input-color);
}

form textarea {
   max-width: 100%;
   aspect-ratio: 16/8;
   width: auto;
}

form .form_step[data-step="1"] textarea {
   aspect-ratio: 1/.5;
}

.input-wrapper {
   margin-top: 1rem;
}

.img_thumb {
   position: relative;
   width: 50%;
   aspect-ratio: 1/.8;
   border-radius: 5px;

   background: url("../../../../assets/images/teste.jpg") no-repeat center center;
   background-size: cover;

   margin-inline: auto;
   overflow: hidden;

   &[data-empty="false"] {
      background: #0000;
   }

   & img {
      display: block;
      object-fit: cover;
   }

   &[data-empty="true"] img {
      display: none;
   }
}

input[type="file"] {
   position: absolute;
   width: 100%;
   height: 100%;

   opacity: 0;
}

select {
   max-width: 70%;
   size: 10px;
   padding: .5rem;

   background: var(--primary-700);
   box-shadow: 2px 2px 10px hsl(273 98% 26% / .5),
   -2px -2px 5px hsl(273 98% 86% / .9);
   color: var(--neutral-100);
}

.btn_add_category {
   position: relative;
   width: fit-content;
   padding: .5rem 1rem;
   border-radius: 7px;
   background: var(--primary-700);
   color: var(--neutral-100);
   contain: paint;
}

.btn_add_category:active::after {
   content: "";
   position: absolute;
   top: -2rem;
   bottom: 0;
   left: -10%;
   width: 50px;
   height: 300%;
   background: hsl(0 0% 100% / .3);
   rotate: 45deg;
   transform-origin: center;
   animation: btn_click linear .15s forwards;
}

.ingredients-controller {
   display: flex;
   margin-block: 1rem;
   gap: 0 5px;

   & .search_bar {
      position: relative;
   }
}

.ingredients-controller .add_ingredient {
   height: 100%;
   aspect-ratio: 1;

   background: url("../../../../assets/icons/plus.svg") no-repeat center center;
   background-size: 90%;
   border: 2px solid var(--primary-700);
   border-radius: 5px;
   transition: all .2s;
}

.ingredients-controller .add_ingredient:active,
.ingredients-controller .ingredients_edit:active {
   background-color: var(--neutral-300);
}

.search_bar {
   position: relative;
   z-index: 9;
}

.search_bar i {
   position: absolute;
   left: 0;
   height: 100%;
   aspect-ratio: 1;
   background: url("../../../../assets/icons/search.svg") no-repeat center center;
   background-size: 80%;
}

.search_bar input {
   --ring-color: var(--primary-700);

   padding: .4rem;
   padding-left: 2.1rem;
   border: 2px solid var(--primary-700);
   border-radius: 5px;
   box-shadow: 2px 2px 10px hsl(254 84% 19% / .4),
   -2px -2px 7px hsl(254 100% 95%);
}

.ingredients-controller .ingredients_edit {
   height: 100%;
   aspect-ratio: 1;
   border-radius: 5px;
   background: url("../../../../assets/icons/edit.svg") no-repeat center center;
   background-size: 70%;
   transition: all .2s;
}

.ingredients {
   --spacing: .5rem;

   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;

   margin-top: var(--spacing);
   padding-top: calc(var(--spacing) + .2rem);
   padding-inline-end: var(--spacing);
   
   overflow-x: hidden;
   overflow-y: auto;
}

.form_footer {
   position: fixed;
   bottom: 0;

   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 100%;
   padding: 1rem .5rem;

   & .step-handler {
      color: var(--neutral-700);
   }

   & .btn_next,
   & .btn_finish {
      padding: .7rem 1rem;
      background: var(--primary-700);
      border-radius: 8px;
      
      color: var(--neutral-100);
   }
}

.steps-wrapper {
   display: none;
}

@media screen and (min-width: 1440px) {
   #mobile_menu--handler {
      display: none;
   }
}


@supports selector(::-webkit-scrollbar) and selector(::-webkit-scrollbar-thumb) {
   ::-webkit-scrollbar {
      width: 5px;
      background: var(--neutral-300);
   }
   
   ::-webkit-scrollbar-thumb {
      background: var(--primary-500);
   }
}