@import url("../../partials/misc/step-styles.css");

body {
   --bg-color: hsl(273, 26%, 93%);
   background: var(--bg-color);
}

.steps_descriptions {
   display: flex;
   justify-content: center;
   gap: 0 .5rem;

   & li {
      pointer-events: none;
      cursor: initial;
   }
}

header .header_head,
.steps_descriptions .step_description--wrapper {
   display: none;
}

.step-icon {
   display: grid;
   place-items: center;

   width: 2rem;
   aspect-ratio: 1;
   
   border-radius: 50%;
   border: 3px solid var(--primary-700);

   background: #0000;
   color: var(--primary-700);
   font-style: normal;
}

.steps_descriptions li[data-current="true"] .step-icon {
   background: var(--primary-700);
   color: var(--neutral-100);
}

form section {
   display: grid;
   padding: 1rem;
   margin-inline: 1rem;

   border-radius: 10px;
   background: var(--neutral-100);
   box-shadow: 7px 6px 6px hsl(0 0% 0% / .1);
}

.input-group {
   display: inherit;
   gap: 10px 0;
}

.input-group + .input-group {
   margin-top: 1rem;
}

.input-group input,
.input-group textarea {
   --input-color: var(--bg-color);
   border: 3px solid hsl(273, 26%, 93%);
   border-radius: 5px;
   box-shadow: 2px 2px 3px hsl(273 26% 85% / .5),
   -2px -2px 5px hsl(273 26% 94% / .5);
   outline-color: hsl(273, 26%, 87%);
   padding: .5rem;

   background: var(--input-color);
}

form textarea {
   max-width: 100%;
   width: auto;

   aspect-ratio: 1;
}

.form_footer {
   position: absolute;
   bottom: 0;

   display: flex;
   justify-content: space-between;
   align-items: center;

   width: 100%;
   padding: 1rem .5rem;

   & .step-handler {
      color: var(--neutral-600);
   }

   & .btn_next,
   & .btn_finish {
      padding: .7rem 1rem;
      background: var(--primary-700);
      border-radius: 8px;
      
      color: var(--neutral-100);
   }
}

.steps-wrapper {
   display: none;
}