@keyframes credentialsStateRollUp {
   from {
      top: 50%;
   }
   50% {
      height: calc(50% + 10rem);
   }
   to {
      top: 0;
   }
}

@keyframes credentialsStateRollDown {
   from {
      top: 0;
   }
   50% {
      height: calc(50% + 10rem);
   }
   to {
      top: 50%;
   }
}  

@keyframes credentialsSlideRight {
   from {
      left: 0;
   }
   50% {
      width: calc(50% + 10rem);
   }
   to {
      left: 50%;
   }
}

@keyframes credentialsSlideLeft {
   from {
      left: 50%;
   }
   50% {
      width: calc(50% + 10rem);
   }
   to {
      left: 0;
   }
}  

@keyframes showForm {
   to {
      display: var(--display-method);
   }
}

@keyframes hideForm {
   to {
      display: none;
   }
}