.advice-wrapper {
   background: var(--neutral-500);
   margin-inline: 1rem;
   margin-bottom: 1rem;
   padding: 1.5rem 1rem; 
   text-align: center;
   border: 3px dashed var(--logo-blue);
   border-radius: 10px;
}