@import url("../logo-style.css");
@import url("../partials/menu/mobile_menu-styles.css");
@import url("../animations/searchResult/searchResult-anim.css");

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

header {
   position: -webkit-sticky;
   position: sticky;
   top: 0;

   padding: .5rem 1rem 0 1rem;
   background: var(--neutral-100);
   z-index: 4;
}

header .header_head-wrapper {
   display: flex;
   align-items: center;

   gap: 0 .5rem;
}

.desktop-menu {
   display: none;
}

main {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
}

.search-container {
   background: var(--neutral-100);
   z-index: 3;
}

.searchbar-wrapper {
   position: relative;
   padding: 1rem;

   & input {
      width: 100%;
      border: 2px solid hsl(0 0% 80%);
      border-radius: 7px;

      padding: .8rem;
      padding-left: 3rem;
      font-size: 1.5em;
   }
}

.searchbar-wrapper .searchbar-icon {
   position: absolute;
   top: 50%;
   left: 1.5rem;

   width: 2em;
   aspect-ratio: 1;
   background: url('../../../assets/icons/search.svg') no-repeat center center;
   transform: translate(0, -50%);
}

h1 {
   text-align: center;
}

.options-container {
   display: flex;
   justify-content: space-between;
   padding: 1rem;
   background: var(--neutral-100);
   z-index: 3;

   & .filter_controller-handler {
      padding: .5rem 1rem;
      border: 2px solid ;
      border-radius: 10px;
   }

   & .display_mode-container {
      display: flex;
      gap: 0 .5rem;
   }
}

.display_mode {
   --icon: url('../../../assets/icons/list.svg');

   width: 2.5rem;
   aspect-ratio: 1;

   border: 2px solid hsl(0 0% 90%);
   border-radius: 8px;
   background: var(--icon);
   background-color: hsl(0 0% 85%);

   &[aria-selected="true"] {
      border-color: hsl(0 0% 85%);
      background-color: hsl(0 0% 72%);
   }

   &.grid-display {
      --icon: url('../../../assets/icons/grid.svg');   
   }
}

.grid-display {
   display: none;
}

.filters_setting-container[aria-hidden="true"] {
   display: none;
}

.filters_setting-container[aria-hidden="false"] {
   --container_radius: 15px;
   --y_offset: -200%;
   position: relative;
   top: var(--y_offset);

   padding: 1rem;
   margin-inline: 1rem;

   display: flex;
   flex-direction: column;

   background: var(--neutral-200);
   border-radius: var(--container_radius);

   animation: containerAppear .5s ease-in-out forwards;

   & .options-container {
      flex-direction: column;
      background: inherit;
   }

   & .apply-container {
      & button {
         width: 100%;
         padding: 1rem;
         font-size: 1.1rem;
         margin-top: 1rem;
         border: 3px solid var(--primary-700);
         border-radius: 5px;
         background: var(--neutral-100);
         color: var(--primary-700);
      }
   }
}

.filters-container {
   display: block;
   margin-bottom: 1rem;
   z-index: 3;
}

.filters-container .filters {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

   gap: .5rem;

   .filter {
      --bg_colour: var(--primary-700);
      --colour: var(--neutral-100);

      position: relative;
      padding: .5rem 1rem;
      font-size: .8em;
      border: 2px solid var(--bg_colour);
      border-radius: 7px;
      background: var(--bg_colour);
      color: var(--colour);
      transition: all .3s;

      &:nth-child(even) {
         --bg_colour: var(--logo-blue);
      }

      &:hover {
         background: var(--primary-700);
         color: var(--neutral-100);
      }

      & .filter-label {
         text-transform: capitalize;
      }
   }
}

.results-container {
   margin: 1rem;
   padding: 1rem;
   background: var(--neutral-200);
}