@import url("../logo-style.css");
@import url("../partials/menu/mobile_menu-styles.css");

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
}

header {
   position: -webkit-sticky;
   position: sticky;
   top: 0;

   background: var(--neutral-100);
}