@keyframes btn_click {
   from {
      left: -10%;
   }
   to {
      left: 100%;
   }
}

@keyframes suggestion_list_appear {
   from {
      top: var(--origin);
   }
   to {
      top: var(--destination);
   }
}