@keyframes btn_click {
   from {
      left: -10%;
   }
   to {
      left: 100%;
   }
}

@keyframes suggestion_list_appear {
   from {
      top: 0;
   }
   to {
      top: 2.05rem;
   }
}

@keyframes suggestion_list_disappear {
   from {
      top: 0;
   }
   to {
      top: -1.6rem;
   }
}