@import url("vars/vars.css");

* {
   box-sizing: inherit;
   font-family: var(--ff-100);
}

body,
html {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   min-height: 100vh;
   min-height: 100dvh;
   overflow-x: hidden;
}

a {
   color: inherit;
   text-decoration: none;
   cursor: pointer;
}

ul {
   list-style-type: none;
   padding: 0;
}

button,
input[type="submit"] {
   background: var(--transparent);
   border: 0;
   cursor: pointer;
}

h1,
h2,
h3,
h4,
blockquote,
p,
header,
li {
   margin: 0;
}

figure,
img,
object,
svg {
   width: 100%;
   height: 100%;
}

img {
   object-fit: contain;
}

.greetings-wrapper h1 {
   display: flex;
   align-items: center;
   gap: 0 1px;
}

.username {
   display: block;
   max-width: var(--max-width);
   text-wrap: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

li:not(:has(ul)) {
   transition: all .2s;
   cursor: pointer;
}

@supports selector(::-webkit-scrollbar) and selector(::-webkit-scrollbar-thumb) {
   body::-webkit-scrollbar {
      width: 10px;
      background: var(--neutral-300);
   }
   
   body::-webkit-scrollbar-thumb {
      background: var(--neutral-500);
   }
}