.legend-wrapper {
   display: flex;
   align-items: center;

   & span {
      width: 1rem;
      aspect-ratio: 1;
      border-radius: 5px;
      background: var(--thumb-color);
      margin-right: 5px;
   }
}

.legend_recipe {
   --thumb-color: red;
}

.legend_category {
   --thumb-color: red;
}

.legend_video {
   --thumb-color: red;
}

.legend_ingredient {
   --thumb-color: red;
}