.stats-wrapper {
   position: absolute;
   bottom: 7dvh;
   bottom: 7vh;

   flex-direction: column;
}

.stats-wrapper .stats {
   --max-bar-width: 100%;
   
   display: flex;
   width: 100%;
   height: .6em;
   border-radius: 2px;
   overflow: hidden;

   margin-bottom: .7rem;

   & .stat_bar {
      width: calc(var(--bar-size) * var(--max-bar-width));
      height: 100%;

      background: var(--thumb-color);
   }
}

.legend-wrapper+.legend-wrapper {
   margin-block: 5px;
}

.legend-wrapper {
   display: flex;
   align-items: center;

   font-size: .9rem;

   & span {
      width: 1em;
      aspect-ratio: 1;
      border-radius: 3px;
      background: var(--thumb-color);
      margin-right: 5px;
   }

   & p {
      color: var(--thumb-color);
   }
}

.legend_recipe,
.stat_bar[data-legend="recipes"] {
   --thumb-color: var(--legend-100);
}

.legend_category,
.stat_bar[data-legend="categories"] {
   --thumb-color: var(--legend-200);
}

.legend_video,
.stat_bar[data-legend="videos"] {
   --thumb-color: var(--legend-300);
}

.legend_ingredient,
.stat_bar[data-legend="ingredients"] {
   --thumb-color: var(--legend-400);
}