@keyframes containerAppear {
   from {
      top: -25em;
   }
   to {
      top: 0;
   }
}

@keyframes containerAppearDesktop {
   from {
      left: var(--initial-offset);
   }
   to {
      left: 0;      
   }
}