.select_face {
   --padding: .7rem;

   position: relative;
   text-align: start;
   
   width: clamp(200px, 70%, 300px);
   padding: 1rem var(--padding);
   border-radius: 10px;
   background: var(--primary-700);
   color: var(--neutral-100);
}

input[type="checkbox"] {
   display: none;
}

.chevrons {
   position: absolute;
   display: flex;
   top: 50%;
   right: var(--padding);
   font-size: .9rem;
   background-color: red;
   transform: translate(0, -50%);
}