form input:not([type="submit"]) {
   --input-default: hsl(0 0% 80%);
   margin: .4rem 0;
   padding: .5rem;
   border-radius: 5px;
   border: 0;
   outline: 2px solid var(--input-default);
   width: 100%;
   transition: all .2s;
}

input[type="submit"] {
   margin-top: 1rem;
}

.form-group {
   --max: 375px; 
   width: clamp(100px, 100%, var(--max));
}

.form-group:has(:valid) > input:not([type="submit"]) {
   outline-color: var(--primary-200);
}

.form-group:has(:invalid) > input:not([type="submit"]) {
   outline-color: var(--primary-300);
}

.form-group:has(:focus) > input:not([type="submit"]) {
   outline-color: var(--primary-100);
}

.form-group:has(:placeholder-shown) > input:not([type="submit"]) {
   outline-color: var(--input-default);
}

@media screen and (width >= 720px) {
   .form-group {
      --max: 720px;
   }
}